.result_container{
    width: calc(100%-10px);
    box-shadow: 0px 3px 16px -3px rgba(0, 0, 0, 0.253);
    padding: 12px;
    border-radius: 17px;
    overflow: hidden;
    margin-bottom: 20px;
}

.result_head{
    display: flex;
    align-items: center;
    position: relative;
}

.result_img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50px;
}

.result_head_right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin-left: 15px;
}

.result_name{
    font-weight: 500;
    font-size: 19px;
    margin: 0px;
}

.hideExtension{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px;
}

.inactive{
    color:rgb(157, 166, 170);
}

.result_body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 30px 30px 20px 10px;
}

.result_body_sub{
    width: 100%;
    display: flex;
    margin-bottom: 15px;
}

.result_body_sub_left{
    width: 60px;
    display: flex;
    justify-content: center;
}

.result_body_sub_right{
    width: max-content;
}

.result_sched{
    margin-bottom: 12px;
}

.result_footer{
    display: flex;
    justify-content: center;
    font-weight: 500;
}

.bookButton{
    background-color: rgb(28,158,249);
    color: white;
    text-align: center;
    min-width: fit-content;
    border-radius: 50px;
    padding: 10px 0px;
    width: 45%;
}

.viewButton{
    color: rgb(28,158,249);
    text-align: center;
    border-radius: 50px;
    min-width: fit-content;
    padding: 10px 0px;
    width: 45%;
}